

.page__container
  section
    .bg-ContentSlider
      .swiper-wrapper
        .swiper-slide
          .n-bgContent()
            .n-bgContent__cover._img 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            <video class="" loop muted="muted" playsinline webkit-playsinline preload="auto" poster="">
              <source src="img/newrubkoff/video/dmvideo.webm" type="video/webm">
              <source src="img/newrubkoff/video/dmvideo.mp4" type="video/mp4">
            </video>
            .n-bgContent__cover._img._double 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            .n-galleryProjectBtn._main
              .n-galleryProjectBtn__top.vertical 
                .n-h1 Project P346 2
                .n-h5 The embodiment of a modern idea of ​​an ideal country house, created for a comfortable and harmonious life away from the bustle of the city.
              .n-galleryProjectBtn__bottom 
                .n-button-green._white(data-modal-open data-modal-name="form-modal")
                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
                  </svg>
                  p.n-button1 discuss the project 2
        .swiper-slide
          .n-bgContent()
            .n-bgContent__cover._img 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            img.notCover(src="/img/newrubkoff/n-bgContent.jpg" alt="") 
            .n-bgContent__cover._img._double 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            .n-galleryProjectBtn
              .n-galleryProjectBtn__top.vertical 
                .n-h1 Project P346
                .n-h5 The embodiment of a modern idea of ​​an ideal country house, created for a comfortable and harmonious life away from the bustle of the city.
              .n-galleryProjectBtn__bottom 
                .n-button-green._white(data-modal-open data-modal-name="form-modal")
                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
                  </svg>
                  p.n-button1 discuss the project
        .swiper-slide
          .n-bgContent()
            .n-bgContent__cover._img 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            <video class="" loop muted="muted" playsinline webkit-playsinline preload="auto" poster="">
              <source src="img/newrubkoff/video/dmvideo.webm" type="video/webm">
              <source src="img/newrubkoff/video/dmvideo.mp4" type="video/mp4">
            </video>
            .n-bgContent__cover._img._double 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            .n-galleryProjectBtn
              .n-galleryProjectBtn__top.vertical 
                .n-h1 Project P346 2
                .n-h5 The embodiment of a modern idea of ​​an ideal country house, created for a comfortable and harmonious life away from the bustle of the city.
              .n-galleryProjectBtn__bottom 
                .n-button-green._white(data-modal-open data-modal-name="form-modal")
                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
                  </svg>
                  p.n-button1 discuss the project 2
        .swiper-slide
          .n-bgContent()
            .n-bgContent__cover._img 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            img.notCover(src="/img/newrubkoff/n-bgContent.jpg" alt="") 
            .n-bgContent__cover._img._double 
              img(src="/img/newrubkoff/content-cover.png" alt="") 
            .n-galleryProjectBtn
              .n-galleryProjectBtn__top.vertical 
                .n-h1 Project P346 3
                .n-h5 The embodiment of a modern idea of ​​an ideal country house, created for a comfortable and harmonious life away from the bustle of the city.
              .n-galleryProjectBtn__bottom 
                .n-button-green._white(data-modal-open data-modal-name="form-modal")
                  <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
                  </svg>
                  p.n-button1 discuss the project 3
      .project-slider__pagination

  section.page__block._bottomBig
    .n-h2.section-title Our services
    include ../newrubkoff/blocks/_nbl-accordeon
            
  section.page__block.page__block_full-w-mob._noMargin 
    .n-h2.section-title Modern projects. Proven solutions.
    .n-projects
      .n-projects__el
        include ../newrubkoff/blocks/_nbl-card
      .n-projects__el
        include ../newrubkoff/blocks/_nbl-card
      .n-projects__el
        include ../newrubkoff/blocks/_nbl-card

  section._noMargin 
    .nbl-allProjects 
      a.n-button-green._white(href="#")
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
        </svg>
        p.n-button1 discuss the project
    a.nbl-allProjects._mobile(href="#")
      p.n-button1 All projects
      .n-button-green._white
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 21L17 12L7 3" stroke="#161616" stroke-width="2" stroke-linecap="round"/>
        </svg>


  section.page__block._bottomBigBorder.page__block_full-widthMob
    .blocks-border._noBorder
      .block-border._project  
        .block-border__preview
          .nbl-peoplePreview._text.marMobNo
            .n-h2.section-title Objects under construction
            .n-h3
              |At Le Flair Studios, we believe that everyone has their own unique flair a special something
              |that differentiates you from everyone else. It is in your DNA, and we want you to magnify it, not erase it.
        .block-border__main
          include ../newrubkoff/blocks/_nbl-objectPopup

  section.page__block._bottomBig.page__block_full-width
    .n-h2.section-title We share experiences and talk about construction
    include ../newrubkoff/blocks/_nbl-bigSlider

  section._noMargin 
    .n-h2.section-title Partner villages
    .our-partners
      ul.our-partners__list.buildings
        - var c = 0;  
        while c < 8
          - var imgSrc=["/img/newrubkoff/park.png","/img/newrubkoff/greenwood.png","/img/newrubkoff/forest.png","/img/newrubkoff/beketo.png","/img/newrubkoff/valley.png","/img/newrubkoff/pano.png","/img/newrubkoff/eco.png","/img/newrubkoff/river.png"]
          li.our-partners__el 
            a.our-partners__logo(href="#")
              img(src=imgSrc[c] alt="")
          - c++

include ../newrubkoff/blocks/_nbl-end