block vars 
  - var breadcrumbText = ["Contacts"]
.page__container
  .page__breadcrumb.page__breadcrumb_overlay._big
    include ../blocks/_breadcrumbgrey
  section.page__block.page__block_no-pad-top
    include ../newrubkoff/blocks/_nbl-contacts
  section.page__block.page__block_full-width.marginNo
    .map-block
      <div class="js-ymap n-js-ymap" data-center="55.760494, 37.518650" data-placeholder="55.760494, 37.518650" data-zoom="17" data-placeholder-caption="Верба" data-placeholder-balloon="111395, г. Москва, ул. Юности, д. 13А, стр. 2", data-icon-url-enc="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='86' fill='none' viewBox='0 0 70 86'%3E%3Cpath fill='%232E5E5E' d='M70 35.06c0 19.36-22.45 50.3-35 50.3S0 54.43 0 35.07A35.03 35.03 0 0 1 35 0c19.33 0 35 15.7 35 35.06Z'/%3E%3Cpath fill='%23fff' d='M26.43 30.48h-9.42v23.3h9.42v-7.46h17a13.77 13.77 0 1 0 0-27.54H12.8l4.21 8.47h25.66c7.01 0 7.01 10.5 0 10.5H28.64l-2.2 3.42V30.48Z'/%3E%3C/svg%3E"></div>
//- include ../newrubkoff/blocks/_nbl-end