.page__container
  section.page__block
    .thanks-block
      img(src="img/thanksIcon.svg", alt="")
      h1 Thank you for your application.
      p.h4 <br mob-br/>A personal manager <br data-dsk-br/>will contact you shortly and answer your <br mob-br/>questions
      .thanks-block__buttons
        a.button_medium.slide-button.slide-button_icon.slide-button_grey(href="#")
          span
            svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none' viewBox='0 0 22 22')
              g(clip-path='url(#a)')
                path(fill='#161616' fill-rule='evenodd' d='M11 0a11.01 11.01 0 0 1 0 22 10.9 10.9 0 0 1-6.05-1.82L.72 21.53l1.37-4.08A11.01 11.01 0 0 1 11 0Zm4.24 17.08c.84-.18 1.9-.8 2.16-1.55.27-.75.27-1.39.2-1.52-.07-.11-.22-.18-.44-.29l-.18-.09c-.33-.16-1.9-.94-2.2-1.04-.29-.11-.56-.07-.78.24l-.13.17c-.26.38-.52.74-.73.97-.2.2-.51.23-.78.12l-.1-.04c-.42-.17-1.35-.55-2.48-1.55A9.76 9.76 0 0 1 8 10.28c-.19-.32-.03-.5.12-.67V9.6l.28-.32.2-.21.03-.04c.15-.16.23-.26.33-.47.11-.21.03-.43-.05-.6l-.67-1.61-.31-.76c-.22-.51-.38-.53-.7-.55H7.2l-.34-.01a1.6 1.6 0 0 0-1.16.42c-.33.35-1.1 1.12-1.1 2.65 0 1.54 1.1 3.02 1.3 3.3l.02.02c0 .02.03.05.06.1.42.6 2.42 3.5 5.41 4.74 2.53 1.04 3.28.95 3.85.82Z' clip-rule='evenodd')
              defs
                clipPath#a
                  path(fill='#fff' d='M0 0h22v22H0z')
            span See all
        a.button_medium.slide-button.slide-button_grey(href="#")
          span Go to home page