.what-included-block
  .h3 Plot, Landscape, Networks
  ul
    li
      span Land plot:
      span 2 700 000 ₽
    li
      span Site preparation (tree cutting, leveling, registration), connection of external communications, turnkey septic tank, turnkey embedded electricians and engineering, slab road for construction, engineering and geological surveys, KZ, KR, Landscape, Design projects
      span 1 850 000 ₽
    li
      span Drainage system and storm sewerage
      span 1 850 000 ₽
    li
      span Lawn, flowerbeds covered with bark, light and sockets around the site
      span 750 000 ₽
    li
      span Landscaping (plants)
      span 2 228 000 ₽
    li
      span Automatic watering
      span 681 000 ₽
    li
      span Blind area, paths, parking (granite crushed stone) and landscape slabs
      span 780 000 ₽
  .h3 Plot, Landscape, Networks
  ul
    li
      span Land plot:
      span 2 700 000 ₽
    li
      span Site preparation (tree cutting, leveling, registration), connection of external communications, turnkey septic tank, turnkey embedded electricians and engineering, slab road for construction, engineering and geological surveys, KZ, KR, Landscape, Design projects
      span 1 850 000 ₽
    li
      span Drainage system and storm sewerage
      span 1 850 000 ₽
    li
      span Lawn, flowerbeds covered with bark, light and sockets around the site
      span 750 000 ₽
    li
      span Landscaping (plants)
      span 2 228 000 ₽
    li
      span Automatic watering
      span 681 000 ₽
    li
      span Blind area, paths, parking (granite crushed stone) and landscape slabs
      span 780 000 ₽
