
.page__container
  section.page__block.page__block_full-w-mob
    .ui-dek
      .ui-dek__el
        .n-links-project
          .n-header-drop__ul 
            a._icon(href="#")
              .n-button1 projects 
              .n-button1 80000
            a.n-button1(href="#") Stone houses
            a.n-button1(href="#") Houses made of laminated timber
            a._icon(href="#")
              .n-button1 Built houses
              .n-button1 436
            a.n-button1(href="#") Interior decoration
      .ui-dek__el
        h1 Titles
      .ui-dek__el
        h2 H1/Druk Text Wide Cyr/48px/110%/-6%
        .n-h1 Project П346
      .ui-dek__el
        h2 H2/Druk Text Wide Cyr/26px/110%/-6%
        .n-h2 Additional services
      .ui-dek__el
        h2 H3/Inter Medium /24px/120%
        .n-h3 Victoria Chudnaya
      .ui-dek__el
        h2 H4/Inter Medium /24px/120%
        .n-h4 Victoria Chudnaya
      .ui-dek__el
        h2 H5 Bold/Inter Medium /24px/120%
        .n-h5 Victoria Chudnaya
      .ui-dek__el
        h2 H6/Inter Medium /13px/110%/-3%
        .n-h6 Victoria Chudnaya
      .ui-dek__el
        h1 Paragraphs
      .ui-dek__el
        h2 Paragraph 1/Inter regular/18px/120%
        .n-p1
          |The 876 square meter house is the perfect embodiment of
          |country life luxury. Stylish and elegant two-story house
          |offers everything you need for comfortable living and relaxation.
      .ui-dek__el
        h2 Paragraph 2/Inter regular/16px/120%
        .n-p2
          |The 876 square meter house is the perfect embodiment of
          |country life luxury. Stylish and elegant two-story house
          |offers everything you need for comfortable living and relaxation.
      .ui-dek__el
        h1 Buttons
      .ui-dek__el
        h2 Button 1/Inter Medium /15px/100%
        .n-button1 Built houses
      .ui-dek__el
        h2 Button 2/Inter Medium /15px/100%
        .n-button2 Built houses
      .ui-dek__el
        h2 Link Button/Inter Medium /15px/100%
        .n-link Built houses
      .ui-dek__el
        h2 Button M/Green/1920
        .n-button-green
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
          </svg>
          p.n-button1 discuss Project
      .ui-dek__el
        h2 Button M/White/1920
        .n-button-green._white
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
          </svg>
          p.n-button1 discuss Project
      .ui-dek__el
        h2 Button S/Green/1920
        .n-button-green
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
          </svg>
          p.n-button2 discuss Project
      .ui-dek__el
        h2 Button S/White/1920
        .n-button-green._white.s-white
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
          </svg>
          p.n-button2 discuss Project
      .ui-dek__el
        h1 Badge/Icon
      .ui-dek__el
        .n-badgeIcon 
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.92648 13.8094C3.58793 14.3619 4.37127 14.7503 5.2123 14.9426C5.29278 14.9689 5.34694 14.8639 5.29278 14.8114C3.49136 13.0976 4.4812 11.2429 5.2123 10.4067C5.73355 9.80967 6.47593 8.82643 6.42178 7.50794C6.42178 7.37594 6.55717 7.27019 6.66397 7.34969C7.68616 7.87694 8.38492 9.03718 8.57296 9.98592C8.86931 9.69642 8.97687 9.24793 8.97687 8.85268C8.97687 8.72068 9.13783 8.61493 9.27247 8.72068C10.2405 9.59067 11.9073 12.5434 9.21832 14.8631C9.16491 14.9164 9.21831 15.0221 9.27247 14.9959C10.0878 14.7827 10.8546 14.4156 11.5312 13.9144C15.9141 10.5394 13.0634 4.55447 11.2078 2.57748C10.9663 2.33973 10.5361 2.49798 10.5361 2.84073C10.509 3.55322 10.2939 4.34372 9.72978 4.87096C9.29955 3.07848 7.86593 1.04224 5.8223 0.0402521C5.55378 -0.0917468 5.23111 0.119002 5.25818 0.409249C5.31083 2.86173 3.70647 4.42322 2.30821 6.45345C1.0709 8.27219 0.264582 11.6209 2.92648 13.8094Z" fill="white"/>
          </svg>
          .n-h6 the house is for sale
      .ui-dek__el
        h1 Badge/Gray
      .ui-dek__el
        .n-badgeIcon._grey  
          .n-h6 Selection of a site
      .ui-dek__el
        h1 Badge/Blue White
      .ui-dek__el
        .n-badgeIcon._bl-white
          .n-h6 glued laminated timber
      .ui-dek__el 
        h1 Characteristics
      .ui-dek__el
        .n-character
          .n-h6 Square:
          .n-h6 234 m²
      .ui-dek__el 
        h1 Card Projectа/1920
      .ui-dek__el 
        include ../blocks/_nbl-truncate
      .ui-dek__el 
        h1 Title/Description
      .ui-dek__el 
        include ../blocks/_nbl-truncate
      .ui-dek__el 
        h1 Page Projectа
      .ui-dek__el 
        .blocks-border 
          .block-border._project  
            .block-border__preview
              - var h2Text = "equipment"
              - var imgSrc = "/img/newrubkoff/girl-1.jpg"
              - var h3Text = "Victoria Chudnaya"
              - var pText = "We work individually on each task, implementing all your wishes. Taking into account your needs, we are ready to make changes to each Project."
              include ../blocks/_nbl-peoplePreview
            .block-border__main
              .block-border__main-content
                .project-contentBlock
                  a(data-fancybox="gallery" href="/img/newrubkoff/fancyb-1.jpg")
                    img(src="/img/newrubkoff/plan-1.jpg" alt="")
                .project-contentBlock
                  a(data-fancybox="gallery" href="/img/newrubkoff/fancyb-2.jpg")
                    img(src="/img/newrubkoff/plan-1.jpg" alt="")
                .project-contentBlock._text-separated 
                  .n-character
                    .n-h6 Square:
                    .n-h6 234 m²
                  .n-character
                    .n-h6 Square:
                    .n-h6 234 m²
                  .n-character
                    .n-h6 Square:
                    .n-h6 234 m²
                include ../blocks/_nbl-productContentText
      .ui-dek__el 
        .blocks-border 
          .block-border._project  
            .block-border__preview
              - var h2Text = "equipment"
              - var imgSrc = "/img/newrubkoff/girl-1.jpg"
              - var h3Text = "Victoria Chudnaya"
              - var pText = "We work individually on each task, implementing all your wishes. Taking into account your needs, we are ready to make changes to each Project."
              include ../blocks/_nbl-peoplePreview
            .block-border__main
              .block-border__main-content
                .project-contentBlock.single-content
                  a(data-fancybox="gallery" href="/img/newrubkoff/fancyb-3.jpg")
                    img(src="/img/newrubkoff/single-house.jpg" alt="")
                .project-contentBlock._text-separated 
                  .n-character
                    .n-h6 Square:
                    .n-h6 234 m²
                  .n-character
                    .n-h6 Square:
                    .n-h6 234 m²
                  .n-character
                    .n-h6 Square:
                    .n-h6 234 m²
                include ../blocks/_nbl-productContentText
      .ui-dek__el 
        .blocks-border 
          .block-border._project
            .block-border__preview
              - var h2Text = "equipment"
              - var imgSrc = "/img/newrubkoff/girl-2.jpg"
              - var h3Text = "Dmitry Kiselev"
              - var pText = "For those who know that career and family life are not mutually exclusive, a two-story cottage is suitableП173."
              include ../blocks/_nbl-peoplePreview
            .block-border__main._noPadding
              .block-border__main-content._noMargin
                include ../blocks/_nbl-equipTable
      .ui-dek__el 
        h1 Project П346
      .ui-dek__el 
include ../blocks/_nbl-bgContent
include ../blocks/_nbl-bgContent
include ../blocks/_nbl-bgContent
