a.article-block(href='#')
  .article-block__wrapper 
    .article-block__img(data-lazy)
      //-.video-link-decor
      +l-img('img/newrubkoff/house1.jpg')
    .article-block__desc
      .n-button2 April 30, 2023
      .n-p2
        |Completed construction of a country house with a swimming pool and SPA
        |on the banks of the Volga — time to enjoy comfort