
.banner
  a.banner-link(href="#")
    picture 
      source(media="(max-width:767px)" srcset="img/object-map-mobile.jpg")
      source(media="(min-width:768px)" srcset="img/object-map-desktop.jpg")
      //- img(src="mainBannerBg.svg" alt="")
      img(src="img/object-map-desktop.jpg" alt="")