.page__container
  section.page__block.page__block_header-offset.page__block_article(style="display: flex; flex-direction: column; align-items: center;")
    .h2 Error 404
    .h2 Page was not found
    a.h3(href='/' style='color: #2E5E5E;') Go to main