//- header.header
meta(itemprop="name" content="header")
meta(itemprop="cssSelector" content="header")
.header__inner.fixed-block
  a.header__logo(href='/')
    img(src="img/logo-winter.svg" alt="")
    //- img(src="img/logo.svg" alt="")
  .header__menu
    .header__section.header__section_projects
      a.header__menu-item(href='#')
        span Построенные дома
      a.header__menu-item(href='#')
        span проекты
      a.header__menu-item(href='#' data-search-open)
        span Open village
    .header__section.header__section_contacts
      a.header__menu-item(href='#')
        span Услуги
      a.header__menu-item(href='#')
        span Поселки
      a.header__menu-item(href='#')
        span Контакты
      a.header__menu-item.slide-button_icon.slide-button(href='/ipoteka-page')
        span Ипотека
    .header__burger.hamburger(data-sidebar)
      .hamburger-box
        .hamburger-inner
    
    .header__menu-item.header__menu-item_mobile.header__menu-item_contact(data-modal-open data-modal-name="mobile-contacts")
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20"><path fill="#4EABEA" d="M22.38.132 1.12 8.277c-1.45.58-1.442 1.384-.266 1.742l5.459 1.692L18.94 3.794c.597-.361 1.143-.167.694.229L9.404 13.198H9.4l.003.001-.377 5.59c.552 0 .795-.251 1.105-.548l2.65-2.561 5.515 4.047c1.017.556 1.747.27 2-.935l3.62-16.952C24.287.364 23.35-.305 22.38.132Z"/></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="#5CBE5A" fill-rule="evenodd" d="M11.997 0h.006C18.619 0 24 5.383 24 12c0 6.616-5.38 12-11.997 12-2.44 0-4.704-.726-6.601-1.983L.788 23.491l1.495-4.457A11.911 11.911 0 0 1 0 12C0 5.382 5.38 0 11.997 0Zm4.634 18.638c.916-.198 2.065-.876 2.355-1.694.29-.819.29-1.516.205-1.665-.068-.117-.228-.195-.467-.31l-.203-.1c-.353-.175-2.067-1.022-2.391-1.135-.318-.12-.621-.078-.861.261l-.137.192c-.29.407-.569.8-.8 1.05-.212.225-.557.254-.847.134a8.616 8.616 0 0 0-.108-.044c-.458-.185-1.475-.596-2.706-1.692-1.038-.924-1.743-2.074-1.947-2.42-.2-.345-.027-.548.132-.736l.01-.01c.102-.128.202-.234.302-.34.073-.077.145-.154.22-.24l.031-.036c.158-.18.251-.289.357-.514.12-.232.034-.472-.051-.65-.06-.123-.422-1.005-.734-1.762l-.345-.834c-.232-.556-.41-.577-.762-.592l-.032-.002c-.112-.005-.235-.012-.37-.012-.459 0-.937.135-1.227.43l-.031.033c-.37.377-1.196 1.216-1.196 2.888 0 1.676 1.19 3.298 1.41 3.598l.015.022.075.106c.449.65 2.637 3.82 5.9 5.17 2.757 1.144 3.576 1.037 4.203.904Z" clip-rule="evenodd"/></svg>
      span Обсудить проект
      
    .header__menu-item.header__menu-item_icon.header__menu-item_mobile(data-search-open)
      svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none' viewBox='0 0 22 22')
        circle(cx='8.5' cy='9.5' r='7.5' stroke='#161616' stroke-width='2')
        path(fill='#161616' d='M20.35 21.76a1 1 0 0 0 1.3-1.52l-1.3 1.52Zm-7-6 7 6 1.3-1.52-7-6-1.3 1.52Z')
    
    a.header__menu-item.header__menu-item_icon.header__menu-item_mobile(href='#')
      svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none' viewBox='0 0 22 22')
        path(fill='#161616' d='M19.7 16.86c-.35.98-1.72 1.8-2.82 2.04-.75.16-1.73.3-5.03-1.09-4.22-1.77-6.93-6.1-7.15-6.38-.2-.28-1.7-2.3-1.7-4.38s1.05-3.1 1.47-3.53C4.8 3.16 5.39 3 5.94 3c.17 0 .33 0 .48.02.42.01.63.04.9.71.35.85 1.2 2.93 1.3 3.14.1.22.2.5.06.79-.14.29-.25.42-.47.66-.2.25-.4.44-.62.7-.2.23-.41.48-.17.9.25.42 1.09 1.82 2.33 2.93 1.6 1.45 2.9 1.9 3.37 2.1.34.15.76.11 1-.16.33-.35.73-.93 1.13-1.5.29-.41.65-.46 1.03-.32.39.14 2.44 1.16 2.86 1.38.42.21.7.31.8.5.1.17.1 1.01-.24 2Z')
      span 8 (800) 101-08-45      
  button.button_medium.slide-button.slide-button_green(data-modal-open data-modal-name="form-modal")
    span Обсудить проект
  template#dropdown-arrow-tpl
    .slide-button.slide-button_arrow.header-dropdown__arrow
      span
        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48')
          circle(cx='24' cy='24' r='24' fill='#2E5E5E')
          path(stroke='#fff' stroke-linecap='round' stroke-width='2' d='m20 31 7-7-7-7')
.header-sidebar
  .header-sidebar__inner
    .header-sidebar__section
      a.h2(href="#") Построенные дома
      a.h2(href="#") Проекты
      a.h2(href="#") Open Village

    .header-sidebar__section
      a.h3(href="#") Услуги
      a.h3(href="#") Поселки
      a.h3(href="#") Компания
      a.h3(href="#") Поселки-партнеры
      a.h3(href="#") Ипотека
    .header-sidebar__section
      a.button(data-modal-open data-modal-name="form-modal") Обсудить проект
    .sidebar-contacts
      .sidebar-contacts__row.h6
        .h4 Офис
        a(href="#") МФК «Новая пресня» Москва, Причальный пр, 8к1
        div Пн.-Пт.: с 10:00 до 19:00
        a(href="#") 8 (800) 101-08-65
        a(href="#" type='email') sale1@rubkoff.ru
      .sidebar-contacts__row
        .h4 Соц-сети
        ul.h6
          li
            a(href='#')
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M21.5879 7.19065C21.3574 6.33407 20.6819 5.65887 19.8252 5.42821C18.2602 5 11.9998 5 11.9998 5C11.9998 5 5.73961 5 4.17452 5.41189C3.33438 5.6424 2.64239 6.33422 2.41183 7.19065C2 8.75522 2 12 2 12C2 12 2 15.2611 2.41183 16.8094C2.64254 17.6658 3.3179 18.3411 4.17467 18.5718C5.75609 19 12 19 12 19C12 19 18.2602 19 19.8252 18.5881C20.682 18.3576 21.3574 17.6823 21.5881 16.8258C21.9999 15.2611 21.9999 12.0165 21.9999 12.0165C21.9999 12.0165 22.0164 8.75522 21.5879 7.19065Z' fill='black')
                path(d='M10 15L16 12L10 9V15Z' fill='white')
              span Youtube
          li
            a(href='#')
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_2336_8934)')
                  path(d='M19.802 14.298C19.802 14.298 21.419 15.895 21.819 16.634C21.8268 16.6446 21.8329 16.6564 21.837 16.669C22 16.942 22.04 17.156 21.96 17.314C21.825 17.575 21.368 17.706 21.213 17.717H18.355C18.156 17.717 17.742 17.665 17.238 17.317C16.853 17.048 16.47 16.605 16.099 16.172C15.545 15.529 15.066 14.971 14.581 14.971C14.5198 14.9708 14.4589 14.981 14.401 15.001C14.034 15.117 13.568 15.64 13.568 17.033C13.568 17.469 13.224 17.717 12.983 17.717H11.674C11.228 17.717 8.90603 17.561 6.84703 15.39C4.32403 12.732 2.05803 7.39996 2.03603 7.35296C1.89503 7.00796 2.19103 6.81996 2.51103 6.81996H5.39703C5.78403 6.81996 5.91003 7.05396 5.99803 7.26396C6.10003 7.50496 6.47803 8.46896 7.09803 9.55196C8.10203 11.314 8.71903 12.031 9.21203 12.031C9.30465 12.0312 9.39571 12.0071 9.47603 11.961C10.12 11.607 10 9.30696 9.97003 8.83296C9.97003 8.74096 9.96903 7.80596 9.63903 7.35396C9.40303 7.02996 9.00103 6.90396 8.75803 6.85796C8.82303 6.76396 8.96103 6.61996 9.13803 6.53496C9.57903 6.31496 10.376 6.28296 11.167 6.28296H11.606C12.464 6.29496 12.686 6.34996 12.998 6.42896C13.626 6.57896 13.638 6.98596 13.583 8.37196C13.567 8.76796 13.55 9.21396 13.55 9.73896C13.55 9.85096 13.545 9.97596 13.545 10.103C13.526 10.814 13.501 11.615 14.003 11.944C14.0681 11.9845 14.1433 12.006 14.22 12.006C14.394 12.006 14.915 12.006 16.328 9.58096C16.948 8.50996 17.428 7.24696 17.461 7.15196C17.489 7.09896 17.573 6.94996 17.675 6.88996C17.7476 6.85135 17.8289 6.83207 17.911 6.83396H21.306C21.676 6.83396 21.927 6.88996 21.976 7.02996C22.058 7.25696 21.96 7.94996 20.41 10.046C20.149 10.395 19.92 10.697 19.719 10.961C18.314 12.805 18.314 12.898 19.802 14.298V14.298Z' fill='black')
                defs
                  clipPath#clip0_2336_8934
                    rect(width='20' height='20' fill='white' transform='translate(2 2)')
              span Vkontakte
          li
            a(href='#')
              svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.21001 16.9792C9.21001 15.4135 9.20358 13.8478 9.21607 12.2823C9.21834 12.0184 9.13846 11.9358 8.85595 11.9466C8.33379 11.9664 7.81021 11.9446 7.28739 11.9558C7.07567 11.9608 6.99769 11.906 7.00005 11.6965C7.01056 10.7197 7.00952 9.74229 7.00109 8.76521C6.9992 8.57729 7.05977 8.51548 7.26317 8.51972C7.79772 8.53122 8.33341 8.50575 8.86702 8.53042C9.17632 8.54457 9.2403 8.4419 9.23386 8.17378C9.21522 7.43034 9.21522 6.68575 9.23263 5.94222C9.25393 5.03412 9.51477 4.18624 10.0937 3.44793C10.8263 2.51277 11.8678 2.08529 13.0695 2.03524C14.3035 1.98404 15.5407 2.01242 16.7763 2.00004C16.9486 1.99819 17 2.05576 16.9992 2.21219C16.9937 3.20023 16.9926 4.18863 17 5.17667C17.0017 5.35247 16.9402 5.40624 16.7556 5.4035C16.1613 5.39483 15.5669 5.39907 14.973 5.40058C14.1821 5.40288 13.7087 5.78304 13.6591 6.51455C13.6193 7.10102 13.6484 7.69104 13.6338 8.27919C13.6284 8.48877 13.7617 8.47436 13.9101 8.47418C14.8131 8.47294 15.7165 8.48258 16.6195 8.46817C16.8846 8.46384 16.972 8.52087 16.9418 8.78157C16.8281 9.76333 16.7304 10.747 16.6404 11.7311C16.6199 11.9532 16.5114 11.9955 16.2979 11.9922C15.5855 11.9819 14.8723 11.9851 14.1593 11.9893C13.6473 11.9922 13.6969 11.9193 13.6969 12.4072C13.6946 15.4717 13.6901 18.5364 13.7042 21.6009C13.7057 21.9246 13.6172 22.0049 13.2745 21.9992C12.0507 21.9782 10.8263 21.9771 9.60251 21.9997C9.25762 22.0061 9.20083 21.8968 9.20358 21.6094C9.21664 20.066 9.21001 18.5227 9.21001 16.9792' fill='black')
              span Facebook
          li
            a(href='#')
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20"> <path fill="#000" d="M0 10C0 4.477 4.477 0 10 0s10 4.477 10 10-4.477 10-10 10S0 15.523 0 10Z" /> <path fill="#fff" fill-rule="evenodd" d="M9.7 0c-.05 4.054-.327 6.332-1.847 7.853C6.333 9.373 4.053 9.65 0 9.7v.6c4.054.05 6.332.327 7.853 1.847 1.52 1.52 1.797 3.8 1.847 7.853h.6c.05-4.054.327-6.332 1.847-7.853 1.52-1.52 3.8-1.797 7.853-1.847v-.6c-4.054-.05-6.332-.327-7.853-1.847-1.52-1.52-1.797-3.8-1.847-7.853h-.6Z" clip-rule="evenodd" /> </svg>
              span Дзен

include ../blocks/_header-search

a.header__mobile-logo(href='/')
  img(src="img/logo.svg", alt="")