$ms: 369;
$sm: 767;
$lg: 1023;
$xl: 1200;
$hd: 1439;
$uhd: 1919;

$ms1: $ms + 1;
$sm1: $sm + 1;
$lg1: $lg + 1;
$xl1: $xl + 1;
$hd1: $hd + 1;


$baseTextColor: #161616;
$baseFont: 'Inter', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$secondaryFont: 'Druk';

$Black : #161616;
$ExistentialAngst: #0A0A0A;
$ColdStone : #CED0DC;
$DarkGreed : #193536;
$Green : #224646;
$LightGreen : #2E5E5E;
$CopperTurquoise: #38857C;
$Beige : #D5B38E;
$White : #FFFFFF;

// #161616 + opacity: 50%
$MiddleGray : #8a8a8a;

$DarkGray: #7B7B7B;
$WhiteGray : #F1F1F1;
$ErrigalWhite: #F0F1F5;
$Gray : #F2F2F2;
$GrayBruh: #E5E5E5;
$Lead: #202020;
$AuroraOrange: #EF6F46;