
.nbl-contacts 
  .nbl-contacts__top
    .n-h1 contacts
  .nbl-contacts__bottom
    .nbl-contacts__user
      <div>
        span.n-button1 phone
        .n-h3 +7 499 111-25-76
      </div>
      <div>
        span.n-button1 E-MAIL
        a.nbl-contacts__mail.n-h3(href="mailto:sale1@rubkoff.ru") sale1@rubkoff.ru
      </div>
      <div>
        span.n-button1 OFFICE ADDRESS
        a.nbl-contacts__address.n-h3(href="#") Moscow, Prichalny pr., 8k1
        .n-p2 Mon.-Fr.: from 10:00 to 19:00
        .n-p2 Sat-Sun: by arrangement
      </div>
      <div>
        span.n-button1 discuss the project
        .nbl-contacts__buttons
          a.n-button-green(rel='noopener nofollow' href='https://wa.me/79309498523?text=Здравствуйте! Номер моей заявки: 692457' onclick='ym(14640535,\'reachGoal\',\'proek-whats-app\', {URL: document.location.href}); return true;' target='_blank')
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.998 2H10.002C14.413 2 18 5.589 18 10C18 14.411 14.413 18 10.002 18C8.375 18 6.866 17.516 5.601 16.678L2.526 17.661L3.523 14.689C2.564 13.372 2 11.75 2 10C2 5.588 5.587 2 9.998 2ZM13.087 14.4252C13.698 14.2932 14.464 13.8412 14.657 13.2962C14.85 12.7502 14.85 12.2852 14.794 12.1862C14.7488 12.1077 14.6419 12.0562 14.4822 11.9793C14.4407 11.9593 14.3955 11.9376 14.347 11.9132C14.112 11.7962 12.969 11.2312 12.753 11.1562C12.541 11.0762 12.339 11.1042 12.179 11.3302C12.1486 11.3728 12.1182 11.4155 12.088 11.458C11.895 11.7294 11.7088 11.9913 11.554 12.1582C11.413 12.3082 11.183 12.3272 10.99 12.2472C10.969 12.2384 10.9448 12.2287 10.9178 12.2178C10.6122 12.0944 9.93444 11.8206 9.114 11.0902C8.422 10.4742 7.952 9.7072 7.816 9.4772C7.68247 9.24647 7.79765 9.11118 7.90409 8.98614C7.90606 8.98382 7.90803 8.98151 7.91 8.9792C7.97863 8.89429 8.04523 8.82358 8.11216 8.75252C8.16031 8.7014 8.20863 8.6501 8.258 8.5932C8.26533 8.58475 8.27246 8.57655 8.2794 8.56857C8.38423 8.44804 8.44666 8.37626 8.517 8.2262C8.597 8.0712 8.54 7.9112 8.483 7.7932C8.44378 7.71056 8.20151 7.12275 7.99354 6.61815C7.90454 6.40223 7.82183 6.20155 7.764 6.0622C7.609 5.6912 7.491 5.6772 7.256 5.6672C7.2488 5.66684 7.24152 5.66648 7.23417 5.6661C7.15989 5.66234 7.07808 5.6582 6.988 5.6582C6.682 5.6582 6.363 5.7482 6.17 5.9452C6.16325 5.95209 6.15622 5.95924 6.14893 5.96666C5.90202 6.21777 5.352 6.77715 5.352 7.8922C5.352 9.00941 6.1447 10.0906 6.29137 10.2907C6.29541 10.2962 6.29897 10.301 6.302 10.3052C6.31082 10.3168 6.32746 10.3409 6.35167 10.3759C6.65115 10.8096 8.10983 12.922 10.285 13.8232C12.123 14.5852 12.669 14.5142 13.087 14.4252Z" fill="white"/>
            </svg>
            p.n-button1 whatsapp
          a.n-button-green(rel='noopener nofollow' href='https://telegram.me/art_kelo' onclick='ym(14640535,\'reachGoal\',\'click_telegram\', {URL: document.location.href}); return true;' target='_blank')
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.8525 3.09205L2.7938 8.79416C1.7661 9.19948 1.77204 9.76244 2.60524 10.0135L6.47142 11.1978L15.4166 5.65579C15.8396 5.40309 16.226 5.53903 15.9084 5.81592L8.66101 12.2386H8.65931L8.66101 12.2394L8.39432 16.1526C8.78501 16.1526 8.95743 15.9766 9.17656 15.769L11.0544 13.9758L14.9605 16.809C15.6808 17.1984 16.198 16.9983 16.3772 16.1543L18.9414 4.28802C19.2038 3.25468 18.5396 2.78681 17.8525 3.09205Z" fill="white"/>
            </svg>
            p.n-button1 telegram
      </div>
    .nbl-contacts__data 
      <div>
        span.n-button1 Registration data
      </div>
      <div>
        span.n-button1 Actual and postal address
        .n-h3(href="#") 125367 Moscow, MFC "Novaya Presnya", Prichalny proezd, 8, bldg. 1
      </div>
      <div>
        span.n-button1 General manager
        .n-h3(href="#") Kiselev D.V.
      </div>