
.nbl-bigSlider
  .nbl-bigSlider__wrapper.swiper-wrapper
    .nbl-bigSlider__slide.swiper-slide
      <video class="" loop muted="muted" playsinline webkit-playsinline preload="auto" poster="">
        <source src="img/newrubkoff/video/dmvideo.webm" type="video/webm">
        <source src="img/newrubkoff/video/dmvideo.mp4" type="video/mp4">
      </video>
      .n-h3
        |How to prepare for moving out of town?
        |How to decide on the budget, area, material, location?
      //- img(src="/img/newrubkoff/dm.jpg" alt="") autoplay="autoplay"
    .nbl-bigSlider__slide.swiper-slide
      img(src="/img/newrubkoff/dm.jpg" alt="")
      .n-h3
        |How to prepare for moving out of town?
        |How to decide on the budget, area, material, location?
    .nbl-bigSlider__slide.swiper-slide
      img(src="/img/newrubkoff/dm.jpg" alt="")
      .n-h3
        |How to prepare for moving out of town?
        |How to decide on the budget, area, material, location?
    .nbl-bigSlider__slide.swiper-slide
      <video class="" loop muted="muted" playsinline webkit-playsinline preload="auto" poster="">
        <source src="img/newrubkoff/video/dmvideo.webm" type="video/webm">
        <source src="img/newrubkoff/video/dmvideo.mp4" type="video/mp4">
      </video>
      .n-h3
        |How to prepare for moving out of town?
        |How to decide on the budget, area, material, location?
      //-img(src="/img/newrubkoff/dm.jpg" alt="") autoplay="autoplay"
    .nbl-bigSlider__slide.swiper-slide
      img(src="/img/newrubkoff/dm.jpg" alt="")
      .n-h3
        |How to prepare for moving out of town?
        |How to decide on the budget, area, material, location?
    .nbl-bigSlider__slide.swiper-slide
      <video class="" loop muted="muted" playsinline webkit-playsinline preload="auto" poster="">
        <source src="img/newrubkoff/video/dmvideo.webm" type="video/webm">
        <source src="img/newrubkoff/video/dmvideo.mp4" type="video/mp4">
      </video>
      .n-h3
        |How to prepare for moving out of town?
        |How to decide on the budget, area, material, location?
      //-img(src="/img/newrubkoff/dm.jpg" alt="") autoplay="autoplay"
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>