.nbl-text
  .n-h1 our partners
  .n-p1
    |Working with Rubkoff Group, you work with the best.
    |We have selected more than 30 cottage villages so that you
    |can quickly and easily decide on a suitable place for
    |your country house. Rubkoff Group is an active partner and
    |official developer in business-class villages.