  
.nbl-end
  .n-h2 We will be glad <br/>to discuss your project
  button.n-button-green(data-modal-open data-modal-name="form-modal")
    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
    </svg>
    p.n-button1 discuss the project