
.accordeon-block
  .accordeon-control 
    .catalog-tags
      a.toggle-tag.accordeon-control__btn.toggle-tag_active(href="#")
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19.5H32M32 19.5L22 30M32 19.5L22 9" stroke="#2E5E5E" stroke-width="3"/>
        </svg>
        span.n-p3
          | Construction of houses
      a.toggle-tag.accordeon-control__btn(href="#")
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19.5H32M32 19.5L22 30M32 19.5L22 9" stroke="#2E5E5E" stroke-width="3"/>
        </svg>
        span.n-p3
          | Interior decoration
      a.toggle-tag.accordeon-control__btn(href="#")
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19.5H32M32 19.5L22 30M32 19.5L22 9" stroke="#2E5E5E" stroke-width="3"/>
        </svg>
        span.n-p3
          | Architect consultation
      a.toggle-tag.accordeon-control__btn(href="#")
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19.5H32M32 19.5L22 30M32 19.5L22 9" stroke="#2E5E5E" stroke-width="3"/>
        </svg>
        span.n-p3
          | Houses for sale
      a.toggle-tag.accordeon-control__btn(href="#")
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19.5H32M32 19.5L22 30M32 19.5L22 9" stroke="#2E5E5E" stroke-width="3"/>
        </svg>
        span.n-p3
          | Design
      a.toggle-tag.accordeon-control__btn(href="#")
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19.5H32M32 19.5L22 30M32 19.5L22 9" stroke="#2E5E5E" stroke-width="3"/>
        </svg>
        span.n-p3
          | Selection of a site
      a.toggle-tag.accordeon-control__btn(href="#")
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19.5H32M32 19.5L22 30M32 19.5L22 9" stroke="#2E5E5E" stroke-width="3"/>
        </svg>
        span.n-p3
          | Interior design

  .accordeon-slider
    .accordeon-items.swiper-wrapper
      a.accordeon-items__el.swiper-slide(data-lazy href="#")
        <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/newrubkoff/company.jpg">
          <source src="img/newrubkoff/video/about2.webm" type="video/webm">
          <source src="img/newrubkoff/video/about2.mp4" type="video/mp4">
        </video>
        .n-p3 Construction of <br/> houses
      a.accordeon-items__el.swiper-slide.accordeon-items__el_hidden(data-lazy href="#") 
        <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/newrubkoff/company.jpg">
          <source src="img/newrubkoff/video/nosok.webm" type="video/webm">
          <source src="img/newrubkoff/video/nosok.mp4" type="video/mp4">
        </video>
        .n-p3 Interior <br/> decoration
      a.accordeon-items__el.swiper-slide.accordeon-items__el_hidden(data-lazy href="#") 
        img(data-src="img/search-place.jpg" alt="")
        .n-p3 Architect <br/> consultation
      a.accordeon-items__el.swiper-slide.accordeon-items__el_hidden(data-lazy href="#") 
        img(data-src="img/acc-el-img-2.png" alt="")
        .n-p3 Houses <br/> for sale
      a.accordeon-items__el.swiper-slide(data-lazy href="#")
        <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/newrubkoff/company.jpg">
          <source src="img/newrubkoff/video/about2.webm" type="video/webm">
          <source src="img/newrubkoff/video/about2.mp4" type="video/mp4">
        </video>
        .n-p3 Design
      a.accordeon-items__el.swiper-slide.accordeon-items__el_hidden(data-lazy href="#") 
        <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/newrubkoff/company.jpg">
          <source src="img/newrubkoff/video/nosok.webm" type="video/webm">
          <source src="img/newrubkoff/video/nosok.mp4" type="video/mp4">
        </video>
        .n-p3 Selection <br/> of a site
      a.accordeon-items__el.swiper-slide.accordeon-items__el_hidden(data-lazy href="#") 
        img(data-src="img/search-place.jpg" alt="")
        .n-p3 Interior  <br/> design