

.thumbs-wrapper.new-swiper
  .swiper.main-thumb(thumbsSlider)
    .swiper-wrapper
      .swiper-slide
        img(src="/img/newrubkoff/bgContent1.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent2.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent3.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent4.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent5.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent6.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent7.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent8.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent1.jpg")
      .swiper-slide
        img(src="/img/newrubkoff/bgContent2.jpg")

  .swiper.thumbs-block
    .swiper-wrapper
      .swiper-slide
        ._infoBlock 
          .n-h2 Project object: P123
          .n-character
            .n-h6 Photo:
            .n-h6 27.03.2025
          .n-character
            .n-h6 Start of construction
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent1.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Square:
            .n-h6 27.03.
      .swiper-slide
        ._infoBlock 
          .n-h2 Project object: P123
          .n-character
            .n-h6 Start of construction 0
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent2.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Start of construction
            .n-h6 14.10.2024
      .swiper-slide
        ._infoBlock 
          .n-h2 Project object: P123
          .n-character
            .n-h6 Start of construction 1
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent3.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Square:
            .n-h6 27.03.
      .swiper-slide
        ._infoBlock 
          .n-h2 Project object: P123
          .n-character
            .n-h6 Start of construction 2
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent4.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Square:
            .n-h6 27.03.
          .n-character
            .n-h6 Start of construction
            .n-h6 14.10.2024
      .swiper-slide
        ._infoBlock 
          .n-h2 Project object: P123
          .n-character
            .n-h6 Start of construction 3
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent5.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Square:
            .n-h6 27.03.
      .swiper-slide
        ._infoBlock 
          .n-h2 Object according to the project: П124
          .n-character
            .n-h6 Start of construction 4
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent6.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Start of construction
            .n-h6 14.10.2024
      .swiper-slide
        ._infoBlock 
          .n-h2 Object according to the project: П125
          .n-character
            .n-h6 Start of construction 5
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent7.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Square:
            .n-h6 27.03.
      .swiper-slide
        ._infoBlock 
          .n-h2 Object according to the project: П126
          .n-character
            .n-h6 Start of construction 6
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent8.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Start of construction
            .n-h6 14.10.2024
      .swiper-slide
        ._infoBlock 
          .n-h2 Object according to the project: П127
          .n-character
            .n-h6 Start of construction 7
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent1.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Square:
            .n-h6 27.03.
          .n-character
            .n-h6 Start of construction
            .n-h6 14.10.2024
      .swiper-slide
        ._infoBlock 
          .n-h2 Object according to the project: П128
          .n-character
            .n-h6 Start of construction 8
            .n-h6 14.10.2024
        img(src="/img/newrubkoff/bgContent2.jpg")
        ._infoBlock._mobile
          .n-h2 Project object: P123
          .n-character
            .n-h6 Square:
            .n-h6 27.03.
          .n-character
            .n-h6 Start of construction
            .n-h6 14.10.2024