.project-contentBlock._text 
  .n-p1 
    |The 876 square metre home is the perfect embodiment of country living luxury.
    |Stylish and elegant two-storey house offers everything you need for a comfortable stay
    |accommodation and recreation.
  .n-p1 
    |The two-storey house P371 is a luxurious place for country life, where comfort and coziness
    |are combined with elegance and style. The project offers many opportunities for
    |entertainment and relaxation, and also creates an ideal environment for enjoying nature
    |and spending quality time with loved ones.
  .n-p1 
    |There is a large cinema at your disposal, where you can enjoy watching films
    |in a cozy and comfortable environment. Billiards area and a gym with access to the
    |terrace. The spa area block with a steam room and hamam, continuing on a separate terrace, is a
    |unique opportunity to relax and enjoy peace and harmony.