
.nbl-cookies
  .nbl-cookies__body
    .h4 We use cookies
    .h6
      |This site uses cookies to provide you with a better browsing experience,
      |analyze traffic, and personalize content. By continuing to use the site,
      |you agree to our use of cookies.
    .nbl-cookies__body-btns
      button.nbl-cookies__close Okay    
      a.nbl-cookies__link(href="#") Find out more

