
.nbl-cardPreview
  .nbl-cardPreview__top
    .nbl-cardPreview__top-head
      .n-h3 House on the banks of the Oka
      .nbl-cardPreview__close
        svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32')
          path(fill='#0E0E0E' d='m5.39 25.2 19.8-19.8 1.41 1.4L6.8 26.6z')
          path(fill='#0E0E0E' d='m6.81 5.4 19.8 19.8-1.41 1.4L5.4 6.8z')
    .n-h6 
      |Working with a draft design is the process of identifying the most successful,
      |high-quality and functional solutions. Drawing up clear documentation
      |allows you to reflect in detail each stage of the work and ensure transparency.
  .nbl-cardPreview__bottom
    .nbl-cardPreview__bottom-head 
      <div>
        .n-h5 Project P575
        .n-h7 246 m2
      </div>
      .nbl-cardPreview__bottom-img 
        img(src="img/newrubkoff/pr-done.jpg" alt="")
    button.n-button-green(data-modal-open data-modal-name="form-modal")
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
      </svg>
      p.n-button1 discuss your project


