.n-header-drop
  .n-logo 
    <img src="img/newrubkoff/logo.svg" alt="" />

  .n-header__about
    .n-header-drop__ul 
      ._icon
        a.n-button1(href="#") Stone houses
        .n-button1 32
      ._icon
        a.n-button1(href="#") Houses made of laminated timber
        .n-button1 52
      ._icon
        a.n-button1(href="#") houses for sale
        .n-button1 436
      ._icon
        a.n-button1(href="#") houses for sale
        .n-button1 6
      a.n-button1(href="#") Interior decoration

    .n-header-drop__ul 
      a.n-button1(href="#") About company
      a.n-button1(href="#") Serices
      a.n-button1(href="#") Contacts

    .n-header-drop__ul 
      a.n-button1(href="#") villages
      a.n-button1(href="#") manufacturers

  .n-header__social
    a.n-button1.n-header__search(href="#") search
    a.n-button1(href="tel:74998775095") +7 499 877-50-95
    a._icon(href="#")
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 4V11H15.5M15.5 11L11.5 15M15.5 11L11.5 7" stroke="white" stroke-width="2"/>
      </svg>
      .n-button1 discuss the project