meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1, maximum-scale=1')
link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='theme-color' content='#ffffff')
style. 
  body {
    color: #000
  }
  a {
    color: #000
  }
title localHost


<link rel="preload" as="style" href="css/main.css" />

<link rel="preload" href="fonts/Inter/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
//-
<link rel='stylesheet' type="text/css" href="css/main.css" />
